<?xml version='1.0' encoding='utf-8'?>
<plugin id="pluri-plugin" version="0.0.3" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>pluri-plugin</name>
	<platform name="windows">
		<config-file parent="/Package/Capabilities" target="package.appxmanifest">
			<Capability Name="internetClient" /> 
      			<!--<Capability Name="internetClientServer"/> -->
      			<!--<Capability Name="privateNetworkClientServer" />-->
		</config-file>
	
                 <config-file parent="/Package/Application/uap:ApplicationContentUriRules" target="package.appxmanifest">		
			<uap:Rule Match="ms-appx-web:///" Type="include" WindowsRuntimeAccess="none" />
			<uap:Rule Match="ms-appx:///" Type="include" WindowsRuntimeAccess="none" />
		</config-file>		
		
	</platform>
</plugin>
